@using Garage2.Services
@model Garage2.Models.Entities.ParkedVehicle

@inject IAddNewVehicleTypes service

@{
    ViewData["Title"] = "AddNewVehicleType";
}

<h2><strong>Add New Vehicle Type</strong></h2>

<h4>Chose a type from the list and then click the add type button</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleType" class="control-label"></label>
                <select id="selectedType" asp-for="VehicleType" class="form-control" asp-items="@service.GetSelectListOfNewTypes()">
                    <option selected="selected" value="">Select Type</option>
	            </select>
	            <span asp-validation-for="VehicleType" class="text-danger"></span>
                <input type="hidden" id="addNewType" name="addNewType"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Type" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Create">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
        // Update the hidden input with the selected value just before submitting the form
        $(document).ready(function () {
            $('#selectedType').change(function () {
                $('#addNewType').val($(this).val());
            });

            $('form').submit(function () {
                // Ensure the hidden input is updated with the latest selected value before submitting the form
                $('#addNewType').val($('#selectedType').val());
            });
        });
    </script>
}