@model Garage2.Models.ViewModels.VehicleStatistics

@{
    ViewData["Title"] = "Statistics";
}
@await Html.PartialAsync("Charts/_Setup")

<h2><strong>Statistics</strong></h2>


<h3>Vehicles</h3>

<div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">By Type</h5>
                <p class="card-text">
                    @await Html.PartialAsync("Charts/_PieChart", Model.VehicleCounts)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">By wheel count</h5>
                <p class="card-text">
                    @await Html.PartialAsync("Charts/_PieChart", Model.VehicleCounts)
                </p>
            </div>
        </div>
    </div>
</div>