/*
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");
:root,
[data-bs-theme=light] {
    --bs-primary: #ed7b0f;
    --bs-primary-bg-subtle: #a0530a;
    --bs-primary-border-subtle: #ba600b;
    --bs-primary-text-emphasis: #ed7b0f;
}
:root,
[data-bs-theme=dark] {
    --bs-primary: #ed7b0f;
    --bs-primary-bg-subtle: #a0530a;
    --bs-primary-border-subtle: #ba600b;
    --bs-primary-text-emphasis: #ed7b0f;
}*/
h1, h2 {
    padding-bottom: 10px;
}

:root {
    --primary: #ff9410;
    --primary-bright: #ff9410;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary:hover {
    background: var(--primary);
    transition: ease-in-out 0.3s;
}

.nav-link:hover {
    background: var(--primary);
}

html {
    position: relative;
    min-height: 100%;
}

table {
    width: 100%;
}

body {
    margin-bottom: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .logo img {
        width: 550px;
    }

a {
    color: var(--primary);
}

    a:hover {
        color: var(--primary);
        animation: ease-in-out 0.5s;
    }

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    text-transform: uppercase;
}

a.nav-link.text-dark:hover {
    background-color: var(--primary);
    round-clip: 1rem
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: start;
}

dl.row dt,
dl.row dd {
    display: inline-block;
}

.form-control {
    text-align: center;
    margin: 0 auto;
}

#marginbutton {
    margin-bottom: 15px;
}

.Park {
    background-color: green;
    color: white;
}

.UnPark {
    background-color: red;
    color: white;
}

#parkButton {
    transition: background-color 0.3s ease;
    color: white;
}
